<h1>make a bid</h1>

<%= form_for [@item, @bid] do |f| %>
<%= f.hidden_field :user_id, value: @user.id %>
  <%= f.label :amount %>
  <%= f.number_field :amount, :step => '.01' %>
  <%= f.submit 'Place Bid' %>
<% end %>